{% extends 'templates/base.html' %}

{% block content %}
<h2 class="pt-3 pb-2 mb-3">Рассылка: {{ object.mailing.message.subject }}</h2>
<div class="card">
    <div class="card-body">
        <p><strong>Статус:</strong> {{ object.status }}</p>
        <p><strong>Ответ сервера:</strong> {{ object.answer }}</p>
        <p><strong>Дата попытки:</strong> {{ object.date_attempt }}</p>
        <p><strong>Получатели:</strong></p>
        <ul>
            {% for client in object.client.client.all %}
            <li>{{ client.full_name }} ({{ client.email }})</li>
            {% endfor %}
        </ul>
        <a href="{% url 'mailing:mailing_attempt_list' %}" class="btn btn-outline-secondary btn-sm">Назад</a>
    </div>
</div>
{% endblock %}
